<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <style>
        .regResult{
            /* display: none; */
            opacity: 0;
            background-color: aqua;
            transition: all .5s;
        }
    </style>
</head>
<body>
    <div>
        <form id="registration-form">
            <label for="username">用户名</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">密码</label>
            <input type="password" id="password" name="password">
            <button type="submit">注册</button>
            <button><a href="/front/views/login.html">已有账号，登录</a></button>

            <div class="regResult">result</div>
        </form>
    </div>
    <script>
        const form = document.querySelector('#registration-form');
        const regResultDiv = document.querySelector('.regResult');
        let result = '注册失败，请稍后重试';
        form.addEventListener('submit', function(e){
            e.preventDefault();
            const username = e.target.username.value;
            const password = e.target.password.value;
            const xhr = new XMLHttpRequest();
            xhr.open('POST','http://www.chen.com:3000/reg');
            xhr.responseType='json';
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // after open

            xhr.send(`username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}`);
            xhr.onreadystatechange = function(){
                if(xhr.readyState === 4){
                    if(xhr.status >= 200 && xhr.status < 300){
                        // registration success
                        if(xhr.response.code === '0000' ){
                            result = "注册成功！";
                            // clear input box
                            e.target.username.value='';
                            e.target.password.value='';
                        }
                        regResultDiv.style.opacity = 1;
                        regResultDiv.innerHTML = result;
                        setTimeout(() => {
                            regResultDiv.style.opacity = 0;
                            if(xhr.response.code === '0000'){
                                let host = location.host;
                                window.location.href = `http://${host}/front/views/login.html`;
                            }
                        }, 2000);
                        
                    }
                }
            }
        })
    </script>
</body>
</html>