
body.darkMode{
    background-color: black;
    color: white;
}
.strike-through{
    text-decoration: line-through;
    color: #999;
}
#list-container>div{
    display: flex;
    align-items: center;
    margin: 5px;
}
#list-container label{
    display: inline-block;
    width: 200px;
}
/* 鼠标移到删除按钮上改变样式 */
#list-container .del-btn:hover{
    background-color: #e4e0e0;
    width: 16px;
    text-align: center;
    color: white;
    /* font-size: 30px; */
}